VITE_PRODUCTION=true
VITE_COUPON_PRODUCTION=true

VITE_API_IP=hajam-staging-api.elevatelifestyle.in
VITE_COUPON_IP=hajam-staging-api.elevatelifestyle.in

VITE_PROJECT_KEY=54Kury8wYk
VITE_SECRET_KEY=698301000af143f2724b5ba8

VITE_DOMAIN_ID=21676

VITE_FILE_UPLOAD_BASE=https://app-api.elevatelifestyle.in
VITE_NEW_FILE_UPLOAD_BASE=https://upload.headsupcorporation.com/api
